<h1>Sign up here!</h1>

<h5><span class="redstar">*</span> Required field</h5>

<% if @user.errors.any? %>
  <h4 class="error-heading">
    The following <%= pluralize(@user.errors.count, "error") %> prevented you from signing up:
  </h4>

  <ol>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ol>
<% end %>

<%= form_for(@user) do |f| %>
  <p>
    <span class="redstar">*</span>
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username, required: true %>
  </p>
  <p>
    <span class="redstar">*</span>
    <%= f.label :email, "E-mail:" %>
    <%= f.email_field :email, required: true %>
  </p>
  <p>
    <%= f.label :first_name, "First name (optional):" %>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name, "Last name (optional):" %>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <span class="redstar">*</span>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, required: true %>
  </p>

  <%= f.submit "Sign up!" %>
<% end %>

<h2>OR</h2>

<%= link_to('Sign up with Facebook!', '/auth/facebook') %>
<!-- At some point, I want to use the Facebook SDK for JavaScript; 
this will allow me to generate a login button. This video may help:
https://www.youtube.com/watch?v=E_XACDrZSiI -->