<div>
  <h1><%= @my_verse.reference_citation %> (<%= @my_verse.version %>)</h1>

  <p>"<%= @my_verse.verse_text %>"</p>
  
  <% if @my_verse.reason_liked.present? %>
    <p><%= @my_verse.reason_liked %></p>
  <% end %>
  
  <% if @my_verse.category %>
    <p>
      <strong>Category: </strong><%= @my_verse.category %>
    </p>
  <% end %>

  <h4>Posted by:</h4>
  <%= link_to(@my_verse.user_name, user_path(@my_verse.user)) %>
  <br>
  
  <%= render partial: "links_to_edit_and_delete", locals: {my_verse: @my_verse} %>
</div>