<h1><%= display_reference(@my_verse.verse_reference) %></h1>

<p>"<%= @my_verse.verse_text %>"</p>

<p><strong>Version:</strong> <%= @my_verse.version %></p>

<% if @my_verse.reason_liked.present? %>
  <p><strong>Reason Liked: </strong><%= @my_verse.reason_liked %></p>
<% end %>

<p>Posted by <%= link_to(@my_verse.user_name, user_path(@my_verse.user)) %></p>

<% if @my_verse.belongs_to_user?(current_user) %>
  <p><%= link_to "Edit this MyVerse", edit_my_verse_path(@my_verse) %></p>
<% end %>