<h1>Create a new MyVerse here!</h1>

<%= render partial: "shared/required_field" %>

<%= render partial: "shared/validation_errors",
    locals: {resource: @verse_reference, attempted_action: "creating a new MyVerse"} %>

<%= form_for(@verse_reference) do |f| %>
  <p>
    <span class="redstar">*</span>
    <%= f.label :book %>
    <%= f.text_field :book, required: true %>
  </p>
  <p>
    <span class="redstar">*</span>
    <%= f.label :chapter %>
    <%= f.number_field :chapter, within: 1..150, required: true %>
  </p>
  <p>
    <%= f.label :verse_start, "Start of Verse" %>
    <%= f.number_field :verse_start, within: 1..176 %>
  </p>
  <p>
    <%= f.label :verse_end, "End of Verse" %>
    <%= f.number_field :verse_end, within: 2..176 %>
    <!-- 2 is the minimum because verse_end > verse_start. -->
  </p>

  <%= f.fields_for :my_verses do |mv_form| %>
    <%= mv_form.hidden_field :user_id, :value => current_user.id %>
    <p>
      <span class="redstar">*</span>
      <%= mv_form.label :version %>
      <%= mv_form.text_field :version, required: true %>
    </p>
    <p>
      <span class="redstar">*</span>
      <%= mv_form.label :verse_text %>
      <%= mv_form.text_area :verse_text, required: true %>
    </p>
    <p>
      <%= mv_form.label :reason_liked, "Why do you like this Bible verse?" %>
      <%= mv_form.text_area :reason_liked %>
    </p>
  <% end %>

  <%= f.submit "Create MyVerse" %>
<% end %>