<!DOCTYPE html>
<html>
  <head>
    <title>MyVerses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="spine">
      <div>
        <div class="yellowbar"></div>
      </div>

      <nav>
        <%= button_to "Home", root_path, method: :get %>

        <% if logged_in? %>
          <%= button_to "Your Profile", user_path(current_user), method: :get %>
          <%= button_to "New MyVerse", new_my_verse_path, method: :get %>
          <%= button_to "All MyVerses", my_verses_path, method: :get %>
          <%= button_to "Verse References", verse_references_path, method: :get %>
          <%= button_to "Log Out", logout_path, :method => :delete %>
        <% else %>
          <%= button_to "Sign Up", signup_path, method: :get %>
          <%= button_to "Log In", login_path, method: :get %>
        <% end %>
      </nav>

      <div>
        <div class="yellowbar"></div>
      </div>
    </section>
    <section class="page">
      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </section>
  </body>
</html>
